﻿html { height: 100%; }
body { height: 100%; }

.hero-unit {
    /* color: black; */
    background: url('../Images/groomed_corduroy_large.jpg');

    height: 100%;
    max-height:350px;
    min-height:250px;
}

#available-loading {
    height: 10px;
    position: relative;
}

#selected-loading {
    height: 10px;
    position: relative;
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

#loginDialog {

    width: 35%;
}
