﻿@{
    ViewBag.InitModule = "schedulesCalendar";
}

@section Scripts {

    <script src="~/Scripts/controllers/schedulesCalendarController.js"></script>
    <script src="~/Scripts/services/scheduleService.js"></script>
   
}
<br /><br /><br />
<div data-ng-view=""></div>
