﻿@{
    ViewBag.InitModule = "schedulesSelected";
}

@section Scripts {

    <script src="~/Scripts/controllers/schedulesSelectedController.js"></script>
    <script src="~/Scripts/services/scheduleService.js"></script>
   
}
<br /><br /><br />
<div data-ng-view=""></div>
