﻿<div class="container">
    <div class="row">

        <form class="span12">
            <h2 class="well">Employee Management</h2>

            <div class="progress progress-striped active" data-ng-show="isLoading">
                <div class="bar" style="width: 100%;"></div>
            </div>

                <div class="input-prepend" data-ng-show="!isLoading">
                    <span class="add-on">
                        Order By
                    </span>
                    <select data-ng-model="sortorder" class="input-medium">
                        <option selected value="Person.LastName">Last Name</option>
                        <option value="Person.FirstName">First Name</option>
                        <option value="RosterId">RosterId</option>
                        <option value="Person.Gender.Description">Gender</option>
                        <option value="EmployeeTitle.Name">Title</option>
                        <option value="EmployeeType.Description">Type</option>
                        <option value="Current">Current</option>
                        <option value="IsLocal">Local</option>
                        <option value="ScheduleCount">Shifts</option>
                    </select>
                </div>

                <div class="input-prepend" data-ng-show="!isLoading">
                    <span class="add-on">
                        Direction
                    </span>
                    <select data-ng-model="sortorderdirection" class="input-medium">
                        <option selected value="+">Ascending</option>
                        <option value="-">Descending</option>
                    </select>
                </div>

                <div class="input-prepend" data-ng-show="!isLoading">
                    <span class="add-on">
                        Filter
                    </span>
                    <input type="text" data-ng-model="query" class="input-medium" />
                </div>
            
                <div class="input-prepend pull-right" data-ng-show="!isLoading">
                    <button class="btn" data-ng-click="showAddEmployee()">Add Employee</button>
                </div>


            <table class="table table-striped" data-ng-show="!isLoading">
                <thead>
                    <th>Action</th>
                    <th>Roster Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Current</th>
                    <th>Local</th>
                    <th>Shifts</th>
                    <th></th>
                </thead>
                <tbody data-ng-repeat="e in data.employees | orderBy: sortorderdirection + sortorder | filter:query">
                    <tr>
                        <td>
                            <button class="btn" data-ng-click="showDetails(e)">View</button>
                            <button class="btn" data-ng-click="editDetails(e)">Edit</button>
                            <!--<button class="btn" data-ng-click="deleteDetails(e)">Delete</button>-->
                        </td>
                        <td>{{ e.RosterId }}</td>
                        <td>{{ e.Person.LastName }}, {{ e.Person.FirstName }} {{ e.Person.MiddleName }}</td>
                        <td>{{ e.Person.Gender.Description }}</td>
                        <td>{{ e.EmployeeTitle.Name }}</td>
                        <td>{{ e.EmployeeType.Description }}</td>
                        <td>{{ e.Current }}</td>
                        <td>{{ e.IsLocal }}</td>
                        <td>{{ e.ScheduleCountOfTotal }}</td>
                        <td>
                            <button class="btn" data-ng-click="showShifts(e)">Schedule</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div id="viewEmployeeSchedule" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Employee Schedule</h3>
    </div>
    <div class="modal-body">

        <div class="progress progress-striped active" data-ng-show="isModalLoading">
                <div class="bar" style="width: 100%;"></div>
        </div>

        <div class="alert alert-danger" data-ng-show="data.employeeShifts.length == 0 && !isModalLoading">
            <span>No shifts have been selected.</span>
        </div>

        <div class="alert alert-info" data-ng-show="!isModalLoading && data.employeeShifts.length != 0">
            <div class="row">
                <div class="span3">
                    Shift Type: {{ data.employeeShifts[0].ShiftType.Description }}
                </div>
                <div class="span3">
                    Selected Shifts: {{ data.employeeShifts.length }}
                </div>
                
            </div>
        </div>

        <table class="table table-striped" data-ng-show="data.employeeShifts.length > 0">
                <thead>
                    <th></th>
                    <th>Date</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>  
                </thead>
                <tbody data-ng-repeat="s in data.employeeShifts">
                    <tr>
                        <td><button class="btn btn-danger" data-ng-click="removeShift(s)" data-ng-disabled="isDeletingShift">x</button></td>
                        <td>{{ s.Date | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ s.Date | date: 'MMMM' }}</td>
                        <td>{{ s.DayName }}</td>
                        <td>{{ s.StartTime }}</td>
                        <td>{{ s.EndTime }}</td> 
                    </tr>
                </tbody>
            </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="addEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Add Employee</h3>
    </div>
    <div class="modal-body">
                <div class="input-prepend">
                    <span class="add-on">Roster Id</span>
                    <input name="newRosterId" type="text" required data-ng-model="newEmployee.RosterId" />
                </div>
                <br />
                
                <div class="input-prepend">
                    <span class="add-on">Type</span>
                    <select id="newEmployeeTypeId" required="required" data-ng-model="newEmployee.EmployeeType.Id" data-ng-options="t.Id as t.Description for t in data.employeeTypes"></select>
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Title</span>
                    <select id="newEmployeeTitleId" required="required" data-ng-model="newEmployee.EmployeeTitle.Id" data-ng-options="t.Id as t.Description for t in data.employeeTitles"></select>
                </div>
                <br />
                <div>
                    <label class="checkbox">
                            <input id="newEmployeeCurrent" type="checkbox" data-ng-model="newEmployee.Current" /> Current
                    </label>

                </div>
                <div>
                    <label class="checkbox">
                        <input id="newEmployeeIsLocal" type="checkbox" data-ng-model="newEmployee.IsLocal" /> Local
                    </label>
                </div>   

                <hr />

                <div class="input-prepend">
                    <span class="add-on">Last Name</span>
                    <input id="newEmployeeLastName" type="text" required="required" data-ng-model="newEmployee.Person.LastName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">First Name</span>
                    <input id="newEmployeeFirstName" type="text" required="required" data-ng-model="newEmployee.Person.FirstName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Middle Name</span>
                    <input id="newEmployeeMiddleName" type="text" data-ng-model="newEmployee.Person.MiddleName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Date of Birth</span>
                    <input id="newEmployeeDateOfBirth" type="date" required="required" data-ng-model="newEmployee.Person.DateOfBirth" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Gender</span>
                    <select id="newEmployeeGender" required="required" data-ng-model="newEmployee.Person.Gender.Id" 
                                        data-ng-options="t.Id as t.Description for t in data.genders"></select>
                </div>

                <hr />

                <div class="input-prepend">
                    <span class="add-on">Email/Username</span>
                    <input id="newEmployeeUsername" type="email" required="required" data-ng-model="newEmployee.UserEmployeeInfo.Username" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Password</span>
                    <input id="newEmployeePassword" type="text" required="required" data-ng-model="newEmployee.UserEmployeeInfo.Password" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Role</span>
                    <select id="newEmployeeRole" required="required" data-ng-model="newEmployee.UserEmployeeInfo.RoleName">
                        <option selected value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="addEmployee(newEmployee)">Save</button>
        <!--<button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-disabled="addEmployee.$invalid" data-ng-click="addEmployee(newEmployee)">Save</button>-->
    </div>
</div>

<div id="viewEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Details</h3>
    </div>
    <div class="modal-body">

        <div class="input-prepend">
            <span class="add-on">Roster Id</span>
            <input readonly type="text" data-ng-model="selectedItem.RosterId" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Current</span>
            <input readonly type="text" data-ng-model="selectedItem.Current" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Local</span>
            <input readonly type="text" data-ng-model="selectedItem.IsLocal" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Type</span>
            <input readonly type="text" data-ng-model="selectedItem.EmployeeType.Description" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Title</span>
            <input readonly type="text" data-ng-model="selectedItem.EmployeeTitle.Description" />
        </div>
        
        <hr />

        <div class="input-prepend">
            <span class="add-on">Last Name</span>
            <input readonly type="text" data-ng-model="selectedItem.Person.LastName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">First Name</span>
            <input readonly type="text" data-ng-model="selectedItem.Person.FirstName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Middle Name</span>
            <input readonly type="text" data-ng-model="selectedItem.Person.MiddleName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Gender</span>
            <input readonly type="text" data-ng-model="selectedItem.Person.Gender.Description" />
        </div>
        <!--<br />
        <div class="input-prepend">
            <span class="add-on">DOB</span>
            <input readonly data-ng-model="selectedItem.Person.DateOfBirth" />
        </div>-->
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="editEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Edit</h3>
    </div>
    <div class="modal-body">

                <div class="input-prepend">
                    <span class="add-on">Roster Id</span>
                    <input id="rosterId" type="text" data-ng-model="selectedItem.RosterId" />
                </div>
                <br />
                
                <div class="input-prepend">
                    <span class="add-on">Type</span>
                    <select id="employeeType" data-ng-model="selectedItem.EmployeeType.Id" data-ng-options="t.Id as t.Description for t in data.employeeTypes"></select>
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Title</span>
                    <select id="employeeTitle" data-ng-model="selectedItem.EmployeeTitle.Id" data-ng-options="t.Id as t.Description for t in data.employeeTitles"></select>
                </div>
                <br />
                <div>
                    <label class="checkbox">
                            <input id="current" type="checkbox" data-ng-model="selectedItem.Current" /> Current
                    </label>

                </div>
                <div>
                    <label class="checkbox">
                        <input id="isLocal" type="checkbox" data-ng-model="selectedItem.IsLocal" /> Local
                    </label>
                </div>   

                <hr />

                <div class="input-prepend">
                    <span class="add-on">Last Name</span>
                    <input id="lastName" type="text" data-ng-model="selectedItem.Person.LastName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">First Name</span>
                    <input id="firstName" type="text" data-ng-model="selectedItem.Person.FirstName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Middle Name</span>
                    <input id="middleName" type="text" data-ng-model="selectedItem.Person.MiddleName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Type</span>
                    <select id="genderId" data-ng-model="selectedItem.Person.Gender.Id" 
                                        data-ng-options="t.Id as t.Description for t in data.genders"></select>
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="editEmployee(selectedItem)">Save</button>
    </div>
</div>

<div id="deleteEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Delete</h3>
    </div>
    <div class="modal-body">

        <div class="input-prepend">
            <span class="add-on">Roster Id</span>
            <input readonly type="text" data-ng-model="selectedItem.RosterId" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Last Name</span>
            <input readonly type="text" data-ng-model="selectedItem.Person.LastName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">First Name</span>
            <input readonly type="text" data-ng-model="selectedItem.Person.FirstName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Middle Name</span>
            <input readonly type="text" data-ng-show="selectedItem.Person.MiddleName.length" data-ng-model="selectedItem.Person.MiddleName" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Delete</button>
    </div>
</div>
