﻿<div class="container">
    <div class="row">

        <form class="span12">
            <h2 class="well">Selected Schedules</h2>

            <div class="progress progress-striped active" data-ng-show="isLoading">
                <div class="bar" style="width: 100%;"></div>
            </div>

            <table class="table table-striped table-condensed table-hover" data-ng-show="!isLoading">
                <thead>
                    <tr>
                        <th class="action">Action</th>
                        <th class="month">Month&nbsp;<a data-ng-click="sort_by('Id')"><i class="icon-sort"></i></a></th>
                        <th class="day">Day&nbsp;<a data-ng-click="sort_by('Day')"><i class="icon-sort"></i></a></th>
                        <th class="date">Date&nbsp;<a data-ng-click="sort_by('Date')"><i class="icon-sort"></i></a></th>
                        <th class="start">Start&nbsp;<a data-ng-click="sort_by('Start')"><i class="icon-sort"></i></a></th>
                        <th class="end">End&nbsp;<a data-ng-click="sort_by('End')"><i class="icon-sort"></i></a></th>
                        <th class="shifttype">Shift Type&nbsp;<a data-ng-click="sort_by('ShiftType.Description')"><i class="icon-sort"></i></a></th>
                        <th class="name">Selected By</th>
                    </tr>
                </thead>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li data-ng-class="{disabled: currentPage == 0}">
                                    <a href data-ng-click="prevPage()">« Prev</a>
                                </li>
                                <li data-ng-repeat="n in range(pagedItems.length)"
                                    data-ng-class="{active: n == currentPage}"
                                data-ng-click="setPage()">
                                    <a href data-ng-bind="n + 1">1</a>
                                </li>
                                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href data-ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>
                <tbody>
                    <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                        <td>
                            <button class="btn" data-ng-click="showDetails(item)">View</button>
                        </td>
                        <td>{{ item.Date | date: 'MMMM' }}</td>
                        <td>{{ item.Date | date: 'EEEE' }}</td>
                        <td>{{ item.Date | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ item.StartTime }}</td>
                        <td>{{ item.EndTime }}</td>
                        <td>{{ item.ShiftType.Description }}</td>
                        <td>{{ item.LastName }}, {{ item.FirstName }}</td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

<div id="viewSchedule" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Details</h3>
    </div>
    <div class="modal-body">

        <div class="input-prepend">
            <span class="add-on">Month</span>
            <input readonly type="text" value="{{ selectedItem.Date | date: 'MMMM' }}" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Date</span>
            <input readonly type="text" value="{{ selectedItem.Date | date: 'yyyy-MM-dd' }}" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Start</span>
            <input readonly type="text" value="{{ selectedItem.StartTime }}" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">End</span>
            <input readonly type="text" value="{{ selectedItem.EndTime }}" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Type</span>
            <input readonly type="text" value="{{ selectedItem.ShiftType.Description }}" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>