﻿<div class="container">
    <div class="row">
        <h2 class="well">Schedule Calendar</h2>
            <div class="progress progress-striped active" data-ng-show="isLoading">
                <div class="bar" style="width: 100%;"></div>
            </div>
            <div id='calendar'></div>
    </div>
</div>

<div id="viewDailySchedule" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Daily Schedule - {{ selectedDate }}</h3>
    </div>
    <div class="modal-body">

        <div class="progress progress-striped active" data-ng-show="isModalLoading">
                <div class="bar" style="width: 100%;"></div>
        </div>


        <table class="table table-striped" data-ng-show="!isModalLoading">
                <thead>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>           
                </thead>
                <tbody data-ng-repeat="s in data.dailySchedules">
                    <tr>
                        <td>{{ s.ShiftType.Description }}</td>
                        <td>{{ s.LastName }}, {{ s.FirstName }}</td>
                        <td>{{ s.StartTime }}</td>
                        <td>{{ s.EndTime }}</td>
                    </tr>
                </tbody>
            </table>
        

    </div>
    <div class="modal-footer">
        <span class="pull-left" data-ng-show="!isModalLoading"><a href="/Schedules/Print?date={{ selectedDate }}" target="_blank">Print View</a></span>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="closeDailySchedule()">Close</button>
    </div>
</div>
