﻿<div class="well">
    <h4>{{ formattedScheduleDate }}</h4>
</div>

<div data-ng-repeat="shift in data.dailyPrintSchedules">
        <div class="well">
            <h4>{{ shift.StartTime }} - {{ shift.EndTime }}</h4>
            <div class="well" data-ng-repeat="shiftGroup in shift.ShiftGroups" data-ng-hide="shiftGroup.Schedules.length == 0">
                <h5>{{ shiftGroup.Name }}</h5>

                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <th>Roster Id</th>
                        <th>Name</th>
                    </thead>
                    <tbody data-ng-repeat="schedule in shiftGroup.Schedules">
                        <td>{{ schedule.RosterId }}</td>
                        <td>{{ schedule.LastName }}, {{ schedule.FirstName }}</td>
                    </tbody>
                </table>
            </div>
        </div>
</div>
