﻿<div class="container">
    <div class="row">

        <form class="span12">
            <h2 class="well">Security Management</h2>

            <div class="progress progress-striped active" data-ng-show="isLoading">
                <div class="bar" style="width: 100%;"></div>
            </div>

            <div class="input-prepend" data-ng-show="!isLoading">
                <span class="add-on">
                    Order By
                </span>
                <select data-ng-model="sortorder" class="input-medium">
                    <option selected value="Username">User Name</option>
                    <option value="RoleName">Role</option>
                    <option value="LastName">Last Name</option>
                    <option value="FirstName">First Name</option>
                    <option value="CreateDate">Date Created</option>
                </select>
            </div>

            <div class="input-prepend" data-ng-show="!isLoading">
                <span class="add-on">
                    Direction
                </span>
                <select data-ng-model="sortorderdirection" class="input-medium">
                    <option selected value="+">Ascending</option>
                    <option value="-">Descending</option>
                </select>
            </div>

            <div class="input-prepend" data-ng-show="!isLoading">
                <span class="add-on">
                    Filter
                </span>
                <input type="text" data-ng-model="query" class="input-medium" />
            </div>

            <table class="table table-striped" data-ng-show="!isLoading">
                <thead>
                    <th>Action</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Role</th>
                    <th>Date Created</th>
                    
                </thead>
                <tbody data-ng-repeat="s in data.security | orderBy:sortorderdirection + sortorder | filter:query">
                    <tr>
                        <td>
                            <button class="btn" data-ng-click="showDetails(s)">View</button>
                            <button class="btn" data-ng-click="editDetails(s)">Edit</button>
                        </td>
                        <td>{{ s.LastName }}, {{ s.FirstName }} {{ s.MiddleName }}</td>
                        <td>{{ s.Username }}</td>
                        <td>{{ s.RoleName }}</td>
                        <td>{{ s.CreateDate | date:'yyyy-MM-dd' }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div id="viewSecurity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Details</h3>
    </div>
    <div class="modal-body">

        <div class="input-prepend">
            <span class="add-on">User Name</span>
            <input readonly type="text" data-ng-model="selectedItem.Username" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Role</span>
            <input readonly type="text" data-ng-model="selectedItem.RoleName" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="editSecurity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Edit</h3>
    </div>
    <div class="modal-body">

                <div class="input-prepend">
                    <span class="add-on">User Name</span>
                    <input id="username" readonly type="text" data-ng-model="selectedItem.Username" />
                </div>
                <br />

                <div class="input-prepend">
                    <span class="add-on">New User Name</span>
                    <input id="newusername" type="text" placeholder="Leave blank when not changing" data-ng-model="selectedItem.NewUsername" />
                </div>
                <br />
                
                <div class="input-prepend">
                    <span class="add-on">Role</span>
                    <input id="rolename" readonly type="text" data-ng-model="selectedItem.RoleName" />
                </div>

                <div class="input-prepend">
                    <span class="add-on">New Role</span>
                    <select data-ng-model="selectedItem.NewRoleName">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>

                <div class="input-prepend">
                    <span class="add-on">New Password</span>
                    <input id="newPassword" type="text"  placeholder="Leave blank when not changing" data-ng-model="selectedItem.NewPassword" />
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="editSecurity(selectedItem)">Save</button>
    </div>
</div>