﻿<!DOCTYPE html>
<html lang="en" data-ng-app="@ViewBag.InitModule">
     <head>
        <meta charset="utf-8" />
        <title>Montage Mtn Ski School</title>
         <link href="~/Content/bootstrap.css" rel="stylesheet" />
         <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
         <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
         <link href="~/Content/Site.css" rel="stylesheet" />
         <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" rel="stylesheet" />
         <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css" rel="stylesheet" />
         <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
         <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
         <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
         <script src="~/Scripts/app/account.js"></script>
         <script src="~/Scripts/app/login.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
         <script src="~/Scripts/app/google-analytics.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#">Montage Mtn Ski School</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
                    <ul class="nav navbar-nav">
                        <li><a href="/Employee/Details/@ViewBag.EmployeeId">My Info</a></li>
                        <li><a href="/Employees">Employees</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="/Schedules/Details">Details</a></li>
                              <li><a href="/Schedules">Aggregates</a></li>
                              <li><a href="/Schedules/Selected">Selected</a></li>
                              <li><a href="/Schedules/Calendar">Calendar</a></li>
                            </ul>
                          </li>
                        <li><a href="/Security">Security</a></li>
                    </ul>
                }
              <div class="nav-collapse collapse">
                  @if (Request.IsAuthenticated) {
                      using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logout", @class = "pull-right" })) {
                          <a class="btn pull-right" id="logout" onclick="accountNS.accountViewModel.logout()">LogOff</a>
                      }
                       
                  } else {
                        <a class="btn pull-right" href="#loginDialog" data-toggle="modal">Login</a>   
                  }     
              </div>
            </div>
          </div>
        </div>

        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; Montage Mtn Ski School @DateTime.Now.Year</p>
        </footer>
        @RenderSection("scripts", required: false)

        <div id="loginDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
		@using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = "/Employee" }, FormMethod.Post, new { id = "loginForm" }))
          {
                 <div class="modal-header">
				        <a href="#" class="close" data-dismiss="modal">&times;</a>
				        <h3>Employee Login</h3>
		            </div>
                     <div class="modal-body">
                        <div class="alert alert-danger" id="login-error">
                            <span>Login failed.</span>
                        </div>

                        <div class="row">
                            <div class="span2">
                                <input class="xlarge" id="username" name="UserName" type="text" placeholder="Email" autocomplete="off" data-bind="value: userName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <input class="xlarge" id="password" name="Password" type="password" placeholder="Password" autocomplete="off" data-bind="value: password"/>
                            </div>
                        </div>
		        </div>
		        <div class="modal-footer">
                    <input type="button" class="btn" onclick="accountNS.accountViewModel.hideLogin()" value="Cancel" />
                    <input type="submit" class="btn btn-primary" id="btnLogin" value="OK" />
		        </div>
                }
		
        </div>
    </body>
</html>
